@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5s0hlp');
  src:  url('fonts/icomoon.eot?5s0hlp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5s0hlp') format('truetype'),
    url('fonts/icomoon.woff?5s0hlp') format('woff'),
    url('fonts/icomoon.svg?5s0hlp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text2:before {
  content: "\e926";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-search:before {
  content: "\e986";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-font:before {
  content: "\ea5c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-wechat:before {
  content: "\e900";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}